<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="datatable_import"> 
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/jszip.min.js}"></script>
<script th:src="@{/js/vfs_fonts.js}"></script>
<script th:src="@{/js/pdfmake.min.js}"></script>
<script th:src="@{/js/buttons.html5.min.js}"></script>
<script th:src="@{/js/buttons.print.min.js}"></script>
<script th:src="@{/js/dataTables.colReorder.min.js}"></script>
<script th:src="@{/js/datatable.js}"></script>
</header>

</html>